<div class="container">
    <div class="row" [ngStyle]="{'display' : show ? 'initial' : 'none'}">
      <div class="col-sm" >
        <button (click)="getOrgs('Academic')" type="button" class="btn btn-primary btn-lg btn-flat">Academic</button>
        <button (click)="getOrgs('Leadership')" type="button" class="btn btn-warning btn-lg btn-flat">Leadership</button>
        <button (click)="getOrgs('Just For Fun')" type="button" class="btn btn-success btn-lg btn-flat">Just For Fun</button>
        <button (click)="getOrgs('Creative Outlets')" type="button" class="btn btn-info btn-lg btn-flat">Creative Outlets</button>
        <button (click)="getOrgs('Cultural, Religious & Social')" type="button" class="btn btn-danger btn-lg btn-flat">Cultural, Religious & Social</button>
        <button (click)="getOrgs('Community Service & Activism')" type="button" class="btn btn-secondary btn-lg btn-flat">Community Service & Activism</button>
      </div>    
    </div>
    <div class="card-columns">
      <div class="card" style="width: 18rem;" *ngFor="let org of orgs | async">
        <img class="card-img-top" style="height:200px;" src="{{ org.imageURL }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ org.name }}</h5>
          <p style="white-space: nowrap; overflow: hidden; max-width: 400px; max-height: 400px; text-overflow: ellipsis;" class="card-text">{{ org.description }}</p>
        </div>
      </div>
    </div>
    <div class="card-group" >
      <!-- {{ org | json }} -->
      
    </div>
    
</div>