<div class="container">
    <div class="row">
      <div class="col-sm">
        <button type="button" class="btn btn-primary btn-lg">Academic</button>
        <button type="button" class="btn btn-primary btn-lg">Leadership</button>
        <button type="button" class="btn btn-primary btn-lg">Just For Fun</button>
        <button type="button" class="btn btn-primary btn-lg">Creative Outlets</button>
        <button type="button" class="btn btn-primary btn-lg">Cultural, Religious & Social</button>
        <button type="button" class="btn btn-primary btn-lg">Community Service & Activism</button>
    </div>
</div>